/* Globales */
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
a:hover, a:focus{
	text-decoration: none;
}
.my_container{
	width: 90%;
	margin: 0 auto;
	padding: 0;
	height: 100hv;
}
.row {
	margin: 0;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
.embed-responsive{
	position: relative;
}
.container-fluid > .navbar-header{
	margin: 0;
}
h2{
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}
h3{
	font-size: 1.1em;
}
/* Separador */
.separador {
	text-align: center;
	padding: 10px 0 50px 0;
}
.separador .line{
	border: 1px solid gray;
	width: 10%;
	display: inline-block;
}
.separador .separador__icon{
	display: inline-block;
	padding: 0px 30px 0 30px;
	font-size: 4em;
	position: relative;
	top: 25px;
}

/* Header */
.navbar{
	margin: 0;
	padding: 0;
	border-radius: 0;
}
/* my-nav */
.my-nav{
	background-color: #000;
	padding: 0 10px;
}
.navbar-toggle{
	padding: 15px 0; 
	margin-top: 0;
	margin-bottom: 0;
}
.my-nav .navbar-header{
	color: #fff;
}
.my-nav .navbar-header .icon-nav{
	font-size: 1.5em;
}
.nav li a{
	color: #434343;
	letter-spacing: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: #000;
	border-top: 3px solid #000;
}
.nav li a:hover{
	color: #fff;
	border-top: 3px solid #fff;
	background: transparent;
}
.nav li.active a{
	color: #fff;
	border-top: 3px solid #fff;
}
.my-nav .my-nav__icon{
	padding: 0 8px 0 0;
	font-size: 1.3em;
}
/*COVER*/
.cover {
	width: 100%;
	height: 100vh;
	background-color: #000;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}
.cover__img{
	position: absolute;
	max-width: 500px;
	width: 100%;
	bottom: 0;
	left: 30px;
}
	@media (max-width: 768px){
		.cover__img{
			left: 0;
		}
	}
.cover__info{
	position: absolute;
	display: inline-flex;
	top: 30%;
	flex-direction: column;
	text-align: left;
}
	@media (max-width: 768px){
		.cover__info{
			display: inherit;
			text-align: center;
			top: 10%;
		}
	}
.cover h2{
	color: #fff;
	font-size: 4em;
	text-transform: uppercase;
}
.cover h3{
	color: #fff;
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 5px;
	padding: 0;
	margin: 5px 0;
}
.cover__btn{
	text-align: left;
	margin-top: 40px;
}
	@media (max-width: 768px){
		.cover__btn{
			text-align: center;
			margin-top: 90%;
		}
	}
.cover__btn a{
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 20px 50px;
	border: solid 1px #fff;
	text-decoration: none;	
}
.cover__btn :hover{
	color: #000;
	background-color: #fff;
}
.cover__icon{
	display: inline-flex;
	position: absolute;
	top: 90%;
	font-size: 3em;
	color: #fff;
}
	@media (max-width: 768px){
		.cover__icon{
			top: 90%;
			left: 40%
		}
	}
/* Hablemos de Tatuajes */
.tatuajes{
	text-align: center;
	padding: 60px 0 30px 0;
}
.tatuajes h1{
	font-size: 1.5em;
	margin: 0 auto;
	padding: 5px 0 0 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.tatuajes h4 {
	font-size: 1em;
	color: #bababa;
	letter-spacing: 2px;
	font-weight: 200;
	margin: 0;
	padding: 10px 0;
	letter-spacing: 4px;
}
.tatuajes ul{
	list-style: none;
	text-transform: none;
	margin: 0;
	padding: 20px 0;
	display: inline-block;
	text-decoration: none;
}
.tatuajes__container{
	background-color: #ededed;
	padding: 10px;
	margin: 0 20px;
	
	max-width: 330px;
	text-align: left;
}
	@media (max-width: 768px){
		.tatuajes__container{
			margin: 0;
		}
	}

.tatuajes__img{
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.tatuajes__container a h3{
	margin: 0;
	padding: 10px 0 5px 0;
	color: #000;
}
.tatuajes__container p{
	font-size: 1em;
	margin: 0;
	padding: 5px 0 5px 0;
	color: #939393;
}
/* Ruddet */
.ruddet{
	text-align: center;
}
.ruddet img{
	display: inline-block;
	width: 400px;
	max-width: 100%;
}

.ruddet p{
	color: #939393;
	width: 520px;
	max-width: 100%;
	margin: 20px auto;
	text-align: left;
}
.ruddet__btn h3{
	color: #fff;
	background-color: #c91818;
	border: 1px solid #e63232;
	padding: 15px;
	width: 300px;
	max-width: 90%;
	margin: 50px auto;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 3px;
}
.ruddet__btn a{
	text-decoration: none;
}
/*Cotizar*/
.cotizar{
	text-align: center;
	color: #fff;
	background-image: url(../images/bg-sec1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px 0;
}
.cotizar h2{
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 5px 0;

}
.cotizar ul{
	list-style: none;
	padding: 0;
}
.cotizar__icon{
	font-size: 2.4em;
	padding: 30px 0 10px 0;
	display: inline-block;
	font-weight: 200;
}
.cotizar p{
	width: 220px;
	max-width: 100%;
	margin: 0 auto 20px auto;
	font-weight: 200;
	font-size: .9em;
}
/*inpiracion*/
.inspiracion{
	text-align: center;
	padding: 50px 0;
}
.inspiracion__hero{
	background-image: url(../images/bg-inspiracion.jpg);
	background-position: right;
	background-repeat: no-repeat;
}
	@media (max-width: 768px){
		.inspiracion__hero{
			background-image: none;
		}
	}
.inspiracion h2{
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 5px 0;
}
.inspiracion p{
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
	padding: 5px 0 30px 0;
	color: #939393;
}
.inspiracion ul{
	list-style: none;
	padding: 0;
	display: inline-block;
}
.inspiracion li{
	float: left;
	margin: 10px;
	width: 180px;
	max-width: 100%;
}
	@media (max-width: 768px){
		.inspiracion li{
			margin: 2px;
			width: auto;
			float: none;
		}
	}
.inspiracion__litle{
	width: 180px;
	max-width: 100%;
	height: 180px;
}
	@media (max-width: 768px){
		.inspiracion__litle{
			margin: 0 auto;
		}
	}
.inspiracion__big{
	width: 550px;
	max-width: 100%;
	height: auto;
}
/* PERFIL TATUADOR DESTACADO */
/*Perfil*/
.perfil{
	margin: 100px 0 50px 0;
	text-align: center;
}
.perfil__datos{

}
	@media (max-width: 768px){
		.perfil__datos{
			padding-left: 0;
		}
	}
.perfil img{
	position: relative;	
	display: inline-block;
}
.perfil-info{
	text-align: left;
	position: absolute;
	max-width: 50%;
	left: 250px;
	top: 100px;	
}
	@media (max-width: 768px){
		.perfil-info{
			text-align: left;
			position: absolute;
			left: 120px;
			top: 100px;
			max-width: 50%;	
		}
	}
.perfil-info h2{
	font-size: 1.3em;
	color: #fff;
	background-color: #000;
	margin: 0;
	padding: 10px;
	letter-spacing: 2px;
}
.perfil-info h3{
	font-size: 1.3em;
	color: #fff;
	width: 150px;
	background-color: #000;
	display: inline-block;
	margin: 0;
	padding: 10px;
	letter-spacing: 2px;
}
.perfil-info h4{
	font-size: 1.3em;
	color: #fff;
	background-color: #000;
	margin: 0;
	padding: 10px;
	letter-spacing: 2px;
	margin: 0;

}
.perfil-info h4 span{
	font-size: .6em;
	color: gray;
	font-style: italic;
	display: inline-block;
	padding: 0;
	margin: 0;
	letter-spacing: 0;
}
/*mapa*/
.perfil__titulo{
	margin: 0;
	padding: 0;
	text-align: left;
}
	@media (max-width: 768px){
		.perfil__titulo{
			text-align: center;
		}
	}
.perfil__titulo h2{
	font-size: 1.7em;
	margin: 0;
	padding: 0 0 20px 0;
}
	@media (max-width: 768px){
		.perfil__titulo h2{
			text-align: left;
			padding: 20px 0 20px 15px;
		}
	}
.perfil__titulo span{
	font-size: .6em;
	color: #939393;
	font-weight: 300;
	letter-spacing: 2px;
}
.perfil__mapa{
	margin: 0 0 10px 0;
}

/* perfil */
.perfiles ul{
	margin: 0;
	padding: 0;
}
.perfiles__perfil {
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
	list-style: none;
}
.perfiles__image {
	margin: 0 auto;
}
	@media (max-width: 768px){
		.perfiles__image-borrar{
			display: none
		}
	}
.grow { 
	transition: all .4s ease-in-out; 
	;
}
.grow:hover {
	transform: scale(1.05); 
	box-shadow: 2px 5px 5px rgba(28, 28, 28, 0.741);
	-webkit-box-shadow: 2px 5px 5px rgba(28, 28, 28, 0.741);
  	-moz-box-shadow: 2px 5px 5px rgba(28, 28, 28, 0.741);
}
/* Reseña */
.resena {
	text-align: center;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.resena h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px;
	font-weight: 700;
}
.resena p{
	font-size: 1em;
	color: gray;
}
/* trabajos */
.trabajos{
	text-align: center;
	padding: 50px 0;
}
.trabajos img{
	padding: 10px 0;
	display: inline-block;
}
.trabajos ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.trabajos__a{
	text-decoration: none;
}
.trabajos__mas{
	margin-top: 30px;
	
}
.trabajos__mas a {
	color: #fff;
	padding: 15px 100px;
	font-weight: 400;
	letter-spacing: 2px;
	background-color: #000;
}

.trabajos__mas a:hover  {
	text-decoration: none;
	border: solid 1px #000;
	color: #000;
	background-color: transparent;
}
/* SOMOS */
.somos{
	text-align: center;
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
}
.somos h2{
	font-size: 1.8em;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding: 30px 0;
}
.somos p{
	font-size: 1.1em;
	color: #939393;
	width: 650px;
	max-width: 100%;
	margin: 0 auto;
}
.somos img{
	border-radius: 50%;
}
.somos ul{
	list-style: none;
	margin: 50px 0;
	padding: 0;
	display: inline-block;	
}
.somos li{
	text-align: center;
	width: 300px;
	padding: 10px 0;
}
.somos h3{
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 10px 0 0 0;
	padding: 0;
}
.somos h4{
	font-size: 1.1em;
	color: #939393;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 5px 0;
	padding: 0;
}
.somos h5{
	font-size: 1em;
	color: #000;
	font-weight: 500;
	margin: 5px 0;
	padding: 0;
}
.somos__perfil{
	border-bottom: 5px solid #000;
	margin: 0 37px;
	text-align: center;
	width: 250px;
}
	@media (max-width: 768px){
		.somos__perfil{
			margin: 20px 0;
		}
	}
/*Contacto*/
.contacto{
	text-align: center;
	padding: 100px 0;
	height: auto;
	margin-bottom: 50px;
}
	@media (max-width: 768px){
		.contacto{
			height: auto;
		}
	}
.contacto__contenedor{
	text-align: center;
	width: 40%;
	margin: 0 auto;
	padding: 50px 0;
}
	@media (max-width: 768px){
		.contacto__contenedor{
			width: 90%;
		}
	}
.contacto h2{
	text-align: center;
	font-size: 1.8em;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding: 30px 0;
	
}
.contacto p{
	font-size: 1.1em;
	color: #939393;
	width: 650px;
	max-width: 90%;
	margin: 0 auto;
}
.contacto__btn{
	width: 100%;
	background-color: #000;
	border: 1px solid #939393;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;

}
.contacto input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #6666;
	height: 30px;
}
.contacto .form-group{
	text-align: left;
}
.contacto textarea{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #6666;
}
/*post*/
.post{
	text-align: center;
}
.post__cover{
	width: 100%;
	height: 300px;
}
.post h2{
	text-transform: uppercase;
	padding: 50px 0;	
}
.post p{
	color: #939393;
	width: 600px;
	text-align: justify;
	vertical-align: 3px;
	max-width: 90%;
	margin: 0 auto;
	display: block;
}
.post h3{
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: underline;
	font-style: italic;
	padding-top: 10px;
}
a .post__icon{
	font-size: 1.5em;
	padding: 20px;
	display: inline-block;
	background-color: #000;
	color: #fff;
	margin: 10px 0;
	border-radius: 50px;
}


/*FOOTER*/
.footer{
	background-color: #1c1c1c;
}
footer ul{
	margin: 0;
	padding: 0;
}
.redes{
	padding: 30px 0;
	color: #fff;
	text-align: center;
}
.redes__icon{
	font-size: 1.3em;
	margin: 0 10px;
	display: inline-block;
}

.redes__icon--red {
	display: inline-block;
	font-size: 1.3em;
	margin: 0 10px;
}
